.header{
    font-weight: 700;
    background-color: #65c8fb;
    color: #5A483A;
}
a{
    color: #5A483A;
}

h3.text-muted{
    color: black;
}


.jumbotron {
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    background-color:#3a4c5a ;
    color: #65c8fb;
  }
  div.container {
    text-align: center;
}

.about-me{
    text-align: center;
}
.row{
    border: 5px solid #3a4c5a;
}
img{
    height: 400px;
    width: 400px;
}
.images{
    display: inline;
}