.header{
    font-weight: 700;
    background-color: red;
    color: black;
}
a{
    color: black;
}
h3.text-muted{
    color: black;
}
a.btn.btn-lg.btn-danger{
color: black;
}
div.jumbotron {
    background-size: contain;
    padding-top: 20%;
    padding-bottom: 20%;
    width: -webkit-fill-available;
    background: url('/img/altitude-clouds-daylight-1450082.jpg') no-repeat center center;
  }
  div.container {
    text-align: center;
    width: auto;
}
img{
    height: 230px;
    width: 250px ;
}
.card{
    float: right;
}
.mx-lg-n5{
    display: flex;
}
