.header {
  font-weight: 700;
  background-color: #65c8fb;
  color: #5a483a;
}
a {
  color: #3a4c5a;
}

h3.text-muted {
  color: #3a4c5a;
}

h3.logo {
  height: 50px;
  color: #3a4c5a;
}

ol li {
  float: left;
  font-size: 20px;
}

.jumbotron {
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  background-color: #3a4c5a;
  color: #65c8fb;
}
div.container {
  text-align: center;
}

.about-me {
  text-align: center;
  font-size: 34px;

}
.row {
  border: 5px solid #3a4c5a;
}

.images {
  display: inline;
}
.img-thumbnail {
  height: 400px;
  width: 400px;
  padding: 20px;
  margin: 5px;
}
.card img {
  width: 300px;
  height: 200px;
}
em {
  color: #3a4c5a;
}
body {
  font-family: "Big Shoulders Display", cursive;
}
